<footer class="footer py-5">
    <div class="footer-links">
    <div class="container">
    <div class="row">
    <div class="col-md-4">
    <div class="f-col1 text-white">
    <!-- <figure class="footer-logo">
    <img src="assets/img/logo-white.png" class="img-fluid" style="width: 110px;height:auto">
    </figure> -->
    <h5>Company</h5>
    <ul class="list-inline">
    <li><a routerLink="/">About	Us</a></li>
    <li><a routerLink="/">Contact	Us</a></li>
    <li><a routerLink="/">Mission</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-4">
    <div class="f-col2 text-white">
    <h5>Information</h5>
    <ul class="list-inline">
    <li><a data-toggle="modal" data-target="#demo">Demo</a></li>
    <li><a routerLink="/pricing">Pricing</a></li>
    <li><a routerLink="/terms">Terms</a></li>      
    </ul>
    </div>
    </div>
    <div class="col-md-4">
    <div class="f-col3 text-white pl-md-5">
    <h5>Product</h5>
    <ul class="list-inline">
    <li><a routerLink="/features">Features</a></li>
    <li><a routerLink="/upcoming-events">Events</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="app-download">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
    <figure class="appstore-icon mt-2">
    <img class="img-fluid float-md-right" src="assets/img/app-store.png" style="width:160px;height: auto;">
    </figure>
    </div>
    <div class="col-md-6">
    <figure class="googlestore-icon">
    <img class="img-fluid" src="assets/img/googlestore.png" style="width:187px;height: auto;">
    </figure>
    </div>
    </div>
    <div class="social-media">
    <div class="row">
    <div class="col-md-12">
    <div class="social-media-icons">
    <ul class="list-inline text-center">
    <a href="#"><i class="fa fa-twitter" style="font-size:26px;color:#fff"></i></a>
    <!-- <a href="#"><i class="fa fa-youtube-play" style="font-size:26px;color:#fff"></i></a> -->
    <!-- <a href="#"><i class="fa fa-linkedin" style="font-size:26px;color:#fff"></i></a> -->
    <a href="#"><i class="fa fa-facebook-f" style="font-size:26px;color:#fff"></i></a>
    <!-- <a href="#"><i class="fa fa-instagram" style="font-size:26px;color:#fff"></i></a> -->
    </ul>
    </div>
    <p class="text-white text-center">© 2020 . All Rights Reserved.</p>
    <!-- <div class="social-media-icons ">
    <ul class="list-inline ">
    <a href="#"><i class="fa fa-google-plus-square fa-5x"></i></a>
    <a href="#"><i class="fa fa-twitter-square fa-5x"></i></a>
    <a href="#"><i class="fa fa-youtube-square fa-5x"></i></a>
    <a href="#"><i class="fa fa-rss-square fa-5x"></i></a> 
    </ul>
    </div> -->
    
    </div>
    </div>
    </div>
    </div>
    <!-- <div class="col-md-12">
    <hr class=" ">
    </div> -->
    </div>
    
    
    </footer>
    <app-scroll-top></app-scroll-top>