
<app-toolbarpage></app-toolbarpage>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="aside" #external>
             <h5 class="bg-light p-3">Tournament</h5>
             <!-- <h5 class="p-3 bg-light">Tournament</h5> -->
          <mat-card  class="example-card mt-2 fc-event" >
            <mat-card-content class="pl-2 pt-4">
                <p><strong>Booking</strong></p>
                <p >Court Name:<strong>
                      Yatash
                </strong></p>
              
             </mat-card-content>
           </mat-card>
        </div>
      </div>
       <div class="col-md-9" style="margin-top: 106px;">
          <full-calendar
          
            #fullcalendar
            [editable]="true"
            [events]="calendarEvents"
            [header]="options.header"
           [plugins]="options.plugins"
            (dayRender)="dayRender($event,el)"
            (eventClick)="eventClick($event)"
            [columnHeaderHtml]="options.columnHeaderHtml"
          ></full-calendar>
       </div>
    </div>
   </div>
   

</section>


<!-- <app-footer></app-footer> -->
