.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
   .scroll-to-top  span {
    padding: 0 9px;
}
   .scroll-to-top {
     cursor: pointer;
    border-radius: 5px;
    border: 2px solid #2196f3;
}
i.fa.fa-angle-up {
    color: #2196f3;
} 