<app-toolbarpage></app-toolbarpage>

<section class="pricing-banner mt-5">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="py-5">
        <h4 class="text-white py-5">'Our pricing is expressed in terms of credits. A credit costs $1.50 and represents a single active team in your event. If you have an event with 10 teams then 10 credits ($15) are needed to publish a schedule. Credits can be purchased from your dashboard once your create your account.'</h4>
    </div>
   </div>
</div>
</div>
</section>
<section class="pricing">
  <div class="container">
   
      <div class="text-center pb-5">
        <h2>We offer three Pricing options:</h2>
      </div>
    <div class="row">   
      <div class="col-lg-4" *ngFor="let card of cards">
        <div class="card py-3">
          <div class="card-body">
            <h5 class="card_title text-muted text-uppercase text-center">{{card.card_title}}</h5>
            <h2 class="card_price text-center">{{card.card_price}}<span class="period">/credit</span></h2>
            <hr>
            <!-- <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>5GB Storage</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Unlimited Private Projects</li>
              <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Monthly Status Reports</li>
            </ul> -->
            <!-- <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a> -->
            <p class="card_content">{{card.card_content}}</p>
          </div>
        </div>
      </div>
     
      <!-- <div class="col-md-4" >
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card_title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card_price text-center">$9<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check"></i></span><strong>5 Users</strong></li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>50GB Storage</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check"></i></span><strong>Unlimited Users</strong></li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>150GB Storage</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<app-footer></app-footer>