<app-toolbarpage></app-toolbarpage>
<section class="changepassword">
  <section class="cp-header mt-67 py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h4>Change Password</h4>
        </div>
      </div>
    </div>
  </section>
  <!-- <hr> -->
  <section class="cp-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 my-5">
          <h4>We take security very seriously. All of our passwords are encrypted so that you are the only one that knows it.</h4>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="py-5">
              <form class="example-form" [formGroup]="changepasswordForm">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="Password" placeholder="New Password" value="" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon><img src="assets/img/visibility_off_black.png" *ngIf="hide" />  <img src="assets/img/visibility_black.png"  *ngIf="!hide" /> </mat-icon>
                  </button>
                </mat-form-field>
                
                <p style="color:red;" *ngIf="!changepasswordForm.controls.Password.valid  && (changepasswordForm.controls.Password.dirty || submitAttempt)">*Password Should be Six characters including one uppercase letter, one special character and alphanumeric characters .</p>
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="ConfirmPassword" placeholder="Confirm Password" value="" [type]="hide1 ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                    <mat-icon><img src="assets/img/visibility_off_black.png" *ngIf="hide1" />  <img src="assets/img/visibility_black.png"  *ngIf="!hide1" /> </mat-icon>
                  </button>
                </mat-form-field>
                <div *ngIf="changepasswordForm.controls.ConfirmPassword.errors?.MatchPassword">
                  <p style="color:red;">Password not matching</p>
                 </div>
                <div class="example-button-row py-5">
                  <button (click)="changepassword()" mat-raised-button class="btn-custom-color" data-toggle="modal" data-dismiss="modal">Change Password</button>
                </div>
              </form>
            </div>
        </div>
      </div>

    </div>

  </section>
    
</section>
<!-- 
<app-footer></app-footer> -->



 
